<h1>Forgot password?</h1>

<%= form_for(:password_reset, url: password_resets_path) do |f| %>
  <p><%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %></p>

  <p><%= f.submit "Submit", class: "btn btn-primary" %></p>
<% end %>