<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Bloccitoff, <%= @user.email %></h1>
    <p>You have succesfully signed up to Bloccitoff!</p>
    <p>You can confirm your account email through the link below:</p>
    <p>Confirm my account</p>
  </body>
</html>