<% if @item.destroyed? %>
  $('#item-' +<%= @item.id %>).fadeOut(400);
  $('.js-items-count').html("<%= pluralize(@user.items.count, 'thing') %>");
<% else %>
  $('#item-' +<%= @item.id %>).prepend("<div class='alert alert-danger'><%= flash[:error] = "Error deleting the item." %></div>");
<% end %>